<div class="tabs-wrapper">
  <input checked="checked" class="tab-head" id="tab1" name="tab" type="radio">
  <label for="tab1">
    Couleurs
  </label>
  <input class="tab-head" id="tab2" name="tab" type="radio">
  <label for="tab2">
    Polices
  </label>
  <input class="tab-head" id="tab3" name="tab" type="radio">
  <label for="tab3">
    Modules
  </label>
  <input class="tab-head" id="tab4" name="tab" type="radio">
  <label for="tab4">
    Home Header
  </label>
  <input class="tab-head" id="tab5" name="tab" type="radio">
  <label for="tab5">
    Images
  </label>

  <div class="tab-body-wrapper">
    <div class="tab-body" id="tab-body-1">
      <fieldset>
        <legend>Général</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="body-background">Fond de page</label>
            <input name="admin_theme_settings[body-background]" id="body-background" value="{{ theme_settings.body-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="body-color">Couleur par défaut du texte</label>
            <input name="admin_theme_settings[body-color]" id="body-color" value="{{ theme_settings.body-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 ">
            <label for="accent-color">Couleur d'accent</label>
            <input name="admin_theme_settings[accent-color]" id="accent-color" value="{{ theme_settings.accent-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="home-featured-background-color">Couleur fond menu et plat en avant sur l'accueil</label>
            <input name="admin_theme_settings[home-featured-background-color]" id="home-featured-background-color" value="{{ theme_settings.home-featured-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="home-featured-color">Couleur texte menu et plat en avant sur l'accueil</label>
            <input name="admin_theme_settings[home-featured-color]" id="home-featured-color" value="{{ theme_settings.home-featured-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="menu-featured-background">Couleur fond menu mis en avant</label>
            <input name="admin_theme_settings[menu-featured-background]" id="menu-featured-background" value="{{ theme_settings.menu-featured-background }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-2">
      <fieldset>
        <legend>Polices</legend>
        <div class="row">
          <div class="columns">
            <p>Si vous utilisez une ou plusieurs polices du service Google Fonts, indiquez dans ce champ le code fourni par Google. Lorsque vous êtes à l'étape "Use" sur Google Fonts, le point "3. Add this code to your website:" affiche un tag &lt;link&gt;. Copiez tout le code et collez-le ici.</p>
            <label for="google-fonts-link">Google Fonts : tag &lt;link&gt;</label>
            <input type="text" id="google-fonts-link" name="admin_theme_settings[google-fonts-link]" value="{{ theme_settings.google-fonts-link | escape_once }}" placeholder="&lt;link href='http://fonts.googleapis.com/css?family=...">
          </div>
        </div>
        <div class="row">
          <div class="columns large-6">
            <label for="body-font">Corps de texte</label>
            <input type="text" id="body-font" name="admin_theme_settings[body-font]" value="{{ theme_settings.body-font }}">
            <span>Indiquez le nom de la police seulement, ou bien la font stack</span>
          </div>
          <div class="columns large-6">
            <label for="header-font">Titres</label>
            <input type="text" id="header-font" name="admin_theme_settings[header-font]" value="{{ theme_settings.header-font }}">
            <span>Indiquez le nom de la police seulement, ou bien la font stack</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-3">
      <fieldset>
        <legend>Communication</legend>
        <div class="columns">
            <input class="icheck-me" name="admin_theme_settings[footer_display_newsletter]" id="footer_display_newsletter" type="checkbox" value="{{ theme_settings.footer_display_newsletter }}" {% if theme_settings.footer_display_newsletter %}checked{% endif %} data-skin='black-green' checked/>
          <label style="margin-right:.5em;" for="footer_display_newsletter">Afficher la newsletter</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Carte Google</legend>
        <div class="columns">
          <input class="icheck-me" name="admin_theme_settings[google_map_type]" id="radio_google_none" type="radio" value="" data-skin='black-green' {% if theme_settings.google_map_type == "" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_none">Ne pas afficher la carte</label>
          <input class="icheck-me" name="admin_theme_settings[google_map_type]" id="radio_google_map_image" type="radio" value="image" data-skin='black-green' {% if theme_settings.google_map_type == "image" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_map_image">Afficher la carte sous forme d'image</label>
          <input class="icheck-me" name="admin_theme_settings[google_map_type]" id="radio_google_map_embed" type="radio" value="embed" data-skin='black-green' {% if theme_settings.google_map_type == "embed" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_map_embed">Afficher la carte interactive</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          Visite virtuelle
          <a class="small dropdown" data-options="align:top" data-dropdown="informations-link" style="display:inline;width:25px;text-align:center;">
            &nbsp<i class="fa fa-info"></i>&nbsp
          </a>
          <div class="f-dropdown content info" id="informations-link" data-dropdown-content="">
            <p>
              Où trouver vos informations ? <a target="blank" href='https://www.google.com/maps?output=classic'>google.com/maps?output=classic</a>
            </p>
            <img src="/assets/business-view-info.jpg">
          </div>
        </legend>
        <div class="columns large-6">
          <div class="row">
            <div class="columns">
              <input class="icheck-me" name="admin_theme_settings[display_google_business_view_embed]" id="display_google_business_view_embed" type="checkbox" value="{{ theme_settings.display_google_business_view_embed }}" data-skin='black-green' {% if theme_settings.display_google_business_view_embed %}checked{% endif %}/>
            <label style="margin-right:.5em;" for="display_google_business_view_embed">Afficher la visite virtuelle</label>
            </div>
          </div>

          <div class="row">
            <div class="columns">
              <label class="left" for="google_business_view_embed">Code HTML</label>
              <input name="admin_theme_settings[google_business_view_embed]" type="text" id="google_business_view_embed" value="{{ theme_settings.google_business_view_embed | escape_once }}" />
            </div>
          </div>
        </div>

        <div class="columns large-6">
          <div class="row">
            <div class="columns">
              <input class="icheck-me" name="admin_theme_settings[display_google_business_view_url]" id="display_google_business_view_url" type="checkbox" value="{{ theme_settings.display_google_business_view_url }}" data-skin='black-green' {% if theme_settings.display_google_business_view_url %}checked{% endif %}/>
              <label style="margin-right:.5em;" for="display_google_business_view_url">Afficher le lien</label>
            </div>
          </div>

          <div class="row">
            <div class="columns">
              <label class="left" for="google_business_view_url">Url</label>
              <input name="admin_theme_settings[google_business_view_url]" type="text" id="google_business_view_url" value="{{ theme_settings.google_business_view_url }}" />
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-4">
      <fieldset>
        <legend>Couleurs</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="image-header-informations-color">Textes (description + bouton)</label>
            <input name="admin_theme_settings[image-header-informations-color]" id="image-header-informations-color" value="{{ theme_settings.image-header-informations-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-informations-color-button">Bouton</label>
            <input name="admin_theme_settings[image-header-informations-color-button]" id="image-header-informations-color-button" value="{{ theme_settings.image-header-informations-color-button }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-informations-color-button-text-hover">Bouton texte au survol</label>
            <input name="admin_theme_settings[image-header-informations-color-button-text-hover]" id="image-header-informations-color-button-text-hover" value="{{ theme_settings.image-header-informations-color-button-text-hover }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-informations-button-text">Texte bouton</label>
            <input type="text" id="image-header-informations-button-text" name="admin_theme_settings[image-header-informations-button-text]" value="{{ theme_settings.image-header-informations-button-text }}">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Image top-left</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="image-header-top-left">Bloc header top-left (jpg)</label>
            </div>
            <div class="large-11">
              {% if theme_settings.image-header-top-left %}
              <input class="icheck-me" name="admin_theme_settings[image-header-top-left]" id="image-header-top-left" type="checkbox" value="{{ theme_settings.image-header-top-left }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[image-header-top-left]" id="image-header-top-left" type="checkbox" value="{{ theme_settings.image-header-top-left }}" data-skin='black-green' />
              {% endif %}
              <label for="image-header-top-left">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-image-header-top-left" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][image-header-top-left.jpg]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'image-header-top-left.jpg' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-top-left-background-color">Couleur de fond</label>
            <input name="admin_theme_settings[image-header-top-left-background-color]" id="image-header-top-left-background-color" value="{{ theme_settings.image-header-top-left-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-top-left-text">Texte description</label>
            <input type="text" id="image-header-top-left-text" name="admin_theme_settings[image-header-top-left-text]" value="{{ theme_settings.image-header-top-left-text }}">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-top-left-link">Lien bouton</label>
            <input type="text" id="image-header-top-left-link" name="admin_theme_settings[image-header-top-left-link]" value="{{ theme_settings.image-header-top-left-link }}">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Image top-right</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="image-header-top-right">Image header top-right (jpg)</label>
            </div>
            <div class="large-11">
              {% if theme_settings.image-header-top-right %}
              <input class="icheck-me" name="admin_theme_settings[image-header-top-right]" id="image-header-top-right" type="checkbox" value="{{ theme_settings.image-header-top-right }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[image-header-top-right]" id="image-header-top-right" type="checkbox" value="{{ theme_settings.image-header-top-right }}" data-skin='black-green' />
              {% endif %}
              <label for="image-header-top-right">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-image-header-top-right" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][image-header-top-right.jpg]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'image-header-top-right.jpg' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-top-right-background-color">Couleur de fond</label>
            <input name="admin_theme_settings[image-header-top-right-background-color]" id="image-header-top-right-background-color" value="{{ theme_settings.image-header-top-right-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-top-right-text">Texte description</label>
            <input type="text" id="image-header-top-right-text" name="admin_theme_settings[image-header-top-right-text]" value="{{ theme_settings.image-header-top-right-text }}">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-top-right-link">Lien bouton</label>
            <input type="text" id="image-header-top-right-link" name="admin_theme_settings[image-header-top-right-link]" value="{{ theme_settings.image-header-top-right-link }}">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Image middle-left</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="image-header-middle-left">Image header middle-left (jpg)</label>
            </div>
            <div class="large-11">
              {% if theme_settings.image-header-middle-left %}
              <input class="icheck-me" name="admin_theme_settings[image-header-middle-left]" id="image-header-middle-left" type="checkbox" value="{{ theme_settings.image-header-middle-left }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[image-header-middle-left]" id="image-header-middle-left" type="checkbox" value="{{ theme_settings.image-header-middle-left }}" data-skin='black-green' />
              {% endif %}
              <label for="image-header-middle-left">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-image-header-middle-left" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][image-header-middle-left.jpg]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'image-header-middle-left.jpg' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-left-background-color">Couleur de fond</label>
            <input name="admin_theme_settings[image-header-middle-left-background-color]" id="image-header-middle-left-background-color" value="{{ theme_settings.image-header-middle-left-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-left-text">Texte description</label>
            <input type="text" id="image-header-middle-left-text" name="admin_theme_settings[image-header-middle-left-text]" value="{{ theme_settings.image-header-middle-left-text }}">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-left-link">Lien bouton</label>
            <input type="text" id="image-header-middle-left-link" name="admin_theme_settings[image-header-middle-left-link]" value="{{ theme_settings.image-header-middle-left-link }}">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Image middle-middle</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="image-header-middle-middle">Image header middle-middle (jpg)</label>
            </div>
            <div class="large-11">
              {% if theme_settings.image-header-middle-middle %}
              <input class="icheck-me" name="admin_theme_settings[image-header-middle-middle]" id="image-header-middle-middle" type="checkbox" value="{{ theme_settings.image-header-middle-middle }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[image-header-middle-middle]" id="image-header-middle-middle" type="checkbox" value="{{ theme_settings.image-header-middle-middle }}" data-skin='black-green' />
              {% endif %}
              <label for="image-header-middle-middle">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-image-header-middle-middle" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][image-header-middle-middle.jpg]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'image-header-middle-middle.jpg' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-middle-background-color">Couleur de fond</label>
            <input name="admin_theme_settings[image-header-middle-middle-background-color]" id="image-header-middle-middle-background-color" value="{{ theme_settings.image-header-middle-middle-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-middle-text">Texte description</label>
            <input type="text" id="image-header-middle-middle-text" name="admin_theme_settings[image-header-middle-middle-text]" value="{{ theme_settings.image-header-middle-middle-text }}">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-middle-link">Lien bouton</label>
            <input type="text" id="image-header-middle-middle-link" name="admin_theme_settings[image-header-middle-middle-link]" value="{{ theme_settings.image-header-middle-middle-link }}">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Image middle-right</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="image-header-middle-right">Image header middle-right (jpg)</label>
            </div>
            <div class="large-11">
              {% if theme_settings.image-header-middle-right %}
              <input class="icheck-me" name="admin_theme_settings[image-header-middle-right]" id="image-header-middle-right" type="checkbox" value="{{ theme_settings.image-header-middle-right }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[image-header-middle-right]" id="image-header-middle-right" type="checkbox" value="{{ theme_settings.image-header-middle-right }}" data-skin='black-green' />
              {% endif %}
              <label for="image-header-middle-right">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-image-header-middle-right" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][image-header-middle-right.jpg]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'image-header-middle-right.jpg' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-right-background-color">Couleur de fond</label>
            <input name="admin_theme_settings[image-header-middle-right-background-color]" id="image-header-middle-right-background-color" value="{{ theme_settings.image-header-middle-right-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-right-text">Texte description</label>
            <input type="text" id="image-header-middle-right-text" name="admin_theme_settings[image-header-middle-right-text]" value="{{ theme_settings.image-header-middle-right-text }}">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-middle-right-link">Lien bouton</label>
            <input type="text" id="image-header-middle-right-link" name="admin_theme_settings[image-header-middle-right-link]" value="{{ theme_settings.image-header-middle-right-link }}">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Image bottom-left</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="image-header-bottom-left">Image header bottom-left (jpg)</label>
            </div>
            <div class="large-11">
              {% if theme_settings.image-header-bottom-left %}
              <input class="icheck-me" name="admin_theme_settings[image-header-bottom-left]" id="image-header-bottom-left" type="checkbox" value="{{ theme_settings.image-header-bottom-left }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[image-header-bottom-left]" id="image-header-bottom-left" type="checkbox" value="{{ theme_settings.image-header-bottom-left }}" data-skin='black-green' />
              {% endif %}
              <label for="image-header-bottom-left">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-image-header-bottom-left" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][image-header-bottom-left.jpg]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'image-header-bottom-left.jpg' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-bottom-left-background-color">Couleur de fond</label>
            <input name="admin_theme_settings[image-header-bottom-left-background-color]" id="image-header-bottom-left-background-color" value="{{ theme_settings.image-header-bottom-left-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-bottom-left-text">Texte description</label>
            <input type="text" id="image-header-bottom-left-text" name="admin_theme_settings[image-header-bottom-left-text]" value="{{ theme_settings.image-header-bottom-left-text }}">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-bottom-left-link">Lien bouton</label>
            <input type="text" id="image-header-bottom-left-link" name="admin_theme_settings[image-header-bottom-left-link]" value="{{ theme_settings.image-header-bottom-left-link }}">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Image bottom-right</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="image-header-bottom-right">Image header bottom-right (jpg)</label>
            </div>
            <div class="large-11">
              {% if theme_settings.image-header-bottom-right %}
              <input class="icheck-me" name="admin_theme_settings[image-header-bottom-right]" id="image-header-bottom-right" type="checkbox" value="{{ theme_settings.image-header-bottom-right }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[image-header-bottom-right]" id="image-header-bottom-right" type="checkbox" value="{{ theme_settings.image-header-bottom-right }}" data-skin='black-green' />
              {% endif %}
              <label for="image-header-bottom-left">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-image-header-bottom-right" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][image-header-bottom-right.jpg]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'image-header-bottom-right.jpg' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="image-header-bottom-right-background-color">Couleur de fond</label>
            <input name="admin_theme_settings[image-header-bottom-right-background-color]" id="image-header-bottom-right-background-color" value="{{ theme_settings.image-header-bottom-right-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-bottom-right-text">Texte description</label>
            <input type="text" id="image-header-bottom-right-text" name="admin_theme_settings[image-header-bottom-right-text]" value="{{ theme_settings.image-header-bottom-right-text }}">
          </div>
          <div class="columns medium-4 large-3">
            <label for="image-header-bottom-right-link">Lien bouton</label>
            <input type="text" id="image-header-bottom-right-link" name="admin_theme_settings[image-header-bottom-right-link]" value="{{ theme_settings.image-header-bottom-right-link }}">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-5">
      <fieldset>
        <legend>Fond blocs mis en avant</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="menu-featured-background-image">Menus mis en avant</label>
            </div>
            <div class="large-11">
              {% if theme_settings.menu-featured-background-image %}
              <input class="icheck-me" name="admin_theme_settings[menu-featured-background-image]" id="menu-featured-background-image" type="checkbox" value="{{ theme_settings.menu-featured-background-image }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[menu-featured-background-image]" id="menu-featured-background-image" type="checkbox" value="{{ theme_settings.menu-featured-background-image }}" data-skin='black-green' />
              {% endif %}
              <label for="menu-featured-background-image">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-menu-featured-background-image" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][menu-featured-background-image.png]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'menu-featured-background-image.png' | asset_url | image_tag }}
              </div>
            </div>
          </div>

          <div class="columns medium-4 large-3 end">
            <label for="menu-featured-text-color">Couleur du texte</label>
            <input name="admin_theme_settings[menu-featured-text-color]" id="menu-featured-text-color" value="{{ theme_settings.menu-featured-text-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Navigation</legend>
        <div class="row">
          <div class="medium-4 large-3 columns">
            <div class="large-11">
              <label for="">Navigation image</label>
            </div>
            <div class="large-11">
              {% if theme_settings.nav-background-image %}
              <input class="icheck-me" name="admin_theme_settings[nav-background-image]" id="nav-background-image" type="checkbox" value="{{ theme_settings.nav-background-image }}" data-skin='black-green' checked/>
              {% else %}
              <input class="icheck-me" name="admin_theme_settings[nav-background-image]" id="nav-background-image" type="checkbox" value="{{ theme_settings.nav-background-image }}" data-skin='black-green' />
              {% endif %}
              <label for="nav-background-image">Afficher l'image</label>
            </div>

            <div class="large-11">
              <div id="plupload-nav-background-image" class="input-file input-file-asset">
                <input name="admin_theme_settings[assets][nav-background-image.png]" type="file"/>
              </div>
            </div>

            <div class="large-11 preview">
              <div class="filelist">
                {{ 'nav-background-image.png' | asset_url | image_tag }}
              </div>
            </div>
          </div>
          <div class="columns medium-4 large-3">
            <label for="nav-background-color">Couleur du fond</label>
            <input name="admin_theme_settings[nav-background-color]" id="nav-background-color" value="{{ theme_settings.nav-background-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="nav-color">Couleur texte navigation</label>
            <input name="admin_theme_settings[nav-color]" id="nav-color" value="{{ theme_settings.nav-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
