<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="cleartype" content="on">

    {% title_tag %}
    {% meta_description_tag %}

    {{ restaurant.host | url_canonical | canonical_tag }}
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {% if theme_settings.google-fonts-link %}
      {{ theme_settings.google-fonts-link | replace:'http:','https:' }}
    {% endif %}

    <script src="//polyfill.io"></script>
  </head>
  <body>
    <section class="page" id="top">

      <div class="nav-button"><p>Menu</p></div>
      <nav id="nav" class="main-nav" role="navigation">
        {% include 'nav' %}
      </nav>

      {{ content_for_layout }}

      <footer class="main-footer" role="contentinfo">
        {% include 'footer' %}
      </footer>
    </section>

    {{ 'jquery-2.1.1.min.js' | javascript_tag }}
    {{ 'fastclick.js' | javascript_tag }}
    <script type="text/javascript">
      $( function() {
        FastClick.attach(document.body);
        $('.image-header').click( function(){
          $('.active').removeClass('active');
          $(this).addClass('active');
        });
        $('.nav-button').click( function(){
          $('.main-nav__items').slideToggle("fast");
        });
      });
    </script>
  </body>
</html>
