<div class="home-header home-header--medium-up">
  <div class="home-header__title">
    {% if restaurant.logo? %}
      <div class="logo">
        {{ restaurant.logo_url | image_tag:'class:logo__image' }}
      </div>
    {% endif %}
  </div>
  <div class="image-overlay image-header--top-left">
    <div class="overlay overlay-top-left"></div>
    <div class="overlay__informations image-header__informations-top-left">
      <p>
        {% if current_locale == 'fr' %}
          {{ theme_settings.image-header-top-left-text-fr | t }}
        {% else %}
          {{ theme_settings.image-header-top-left-text-en | t }}
        {% endif %}
      </p>
      <p>
        <a class="button button-overlay" href="{{ localized_root_path }}/{{ theme_settings.image-header-top-left-link }}">
          {% if current_locale == 'fr' %}
            {{ theme_settings.image-header-informations-button-text-fr | t }}
          {% else %}
            {{ theme_settings.image-header-informations-button-text-en | t }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
  <div class="image-overlay image-header--top-right">
    <div class="overlay overlay-top-right"></div>
    <div class="overlay__informations image-header__informations-top-right">
      <p>
        {% if current_locale == 'fr' %}
          {{ theme_settings.image-header-top-right-text-fr | t }}
        {% else %}
          {{ theme_settings.image-header-top-right-text-en | t }}
        {% endif %}
      </p>
      <p>
        <a class="button button-overlay" href="{{ localized_root_path }}/{{ theme_settings.image-header-top-right-link }}">
          {% if current_locale == 'fr' %}
            {{ theme_settings.image-header-informations-button-text-fr | t }}
          {% else %}
            {{ theme_settings.image-header-informations-button-text-en | t }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
  <div class="image-overlay image-header--middle-left">
    <div class="overlay overlay-middle-left"></div>
    <div class="overlay__informations image-header__informations-middle-left">
      <p>
        {% if current_locale == 'fr' %}
          {{ theme_settings.image-header-middle-left-text-fr | t }}
        {% else %}
          {{ theme_settings.image-header-middle-left-text-en | t }}
        {% endif %}
      </p>
      <p>
        <a class="button button-overlay" href="{{ localized_root_path }}/{{ theme_settings.image-header-middle-left-link }}">
          {% if current_locale == 'fr' %}
            {{ theme_settings.image-header-informations-button-text-fr | t }}
          {% else %}
            {{ theme_settings.image-header-informations-button-text-en | t }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
  <div class="image-overlay image-header--middle-middle">
    <div class="overlay overlay-middle-middle"></div>
    <div class="overlay__informations image-header__informations-middle-middle">
      <p>
        {% if current_locale == 'fr' %}
          {{ theme_settings.image-header-middle-middle-text-fr | t }}
        {% else %}
          {{ theme_settings.image-header-middle-middle-text-en | t }}
        {% endif %}
      </p>
      <p>
        <a class="button button-overlay" href="{{ localized_root_path }}/{{ theme_settings.image-header-middle-middle-link }}">
          {% if current_locale == 'fr' %}
            {{ theme_settings.image-header-informations-button-text-fr | t }}
          {% else %}
            {{ theme_settings.image-header-informations-button-text-en | t }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
  <div class="image-overlay image-header--middle-right">
    <div class="overlay overlay-middle-right"></div>
    <div class="overlay__informations image-header__informations-middle-right">
      <p>
        {% if current_locale == 'fr' %}
          {{ theme_settings.image-header-middle-right-text-fr | t }}
        {% else %}
          {{ theme_settings.image-header-middle-right-text-en | t }}
        {% endif %}
      </p>
      <p>
        <a class="button button-overlay" href="{{ localized_root_path }}/{{ theme_settings.image-header-middle-right-link }}">
          {% if current_locale == 'fr' %}
            {{ theme_settings.image-header-informations-button-text-fr | t }}
          {% else %}
            {{ theme_settings.image-header-informations-button-text-en | t }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
  <div class="image-overlay image-header--bottom-left">
    <div class="overlay overlay-bottom-left"></div>
    <div class="overlay__informations image-header__informations-bottom-left">
      <p>
        {% if current_locale == 'fr' %}
          {{ theme_settings.image-header-bottom-left-text-fr | t }}
        {% else %}
          {{ theme_settings.image-header-bottom-left-text-en | t }}
        {% endif %}
      </p>
      <p>
        <a class="button button-overlay" href="{{ localized_root_path }}/{{ theme_settings.image-header-bottom-left-link }}">
          {% if current_locale == 'fr' %}
            {{ theme_settings.image-header-informations-button-text-fr | t }}
          {% else %}
            {{ theme_settings.image-header-informations-button-text-en | t }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
  <div class="image-overlay image-header--bottom-right">
    <div class="overlay overlay-bottom-right"></div>
    <div class="overlay__informations image-header__informations-bottom-right">
      <p>
        {% if current_locale == 'fr' %}
          {{ theme_settings.image-header-bottom-right-text-fr | t }}
        {% else %}
          {{ theme_settings.image-header-bottom-right-text-en | t }}
        {% endif %}
      </p>
      <p>
        <a class="button button-overlay" href="{{ localized_root_path }}/{{ theme_settings.image-header-bottom-right-link }}">
          {% if current_locale == 'fr' %}
            {{ theme_settings.image-header-informations-button-text-fr | t }}
          {% else %}
            {{ theme_settings.image-header-informations-button-text-en | t }}
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</div>
<div class="clearer"></div>

<div class="wrapper">
  <div class="restaurant-name">
    <header class="section__header">
      <h2 class="section__title">{{ restaurant.name }}</h2>
      {% if restaurant.slogan? %}
        <div class="slogan">
          {{ restaurant.slogan }}
        </div>
      {% endif %}
    </header>
  </div>
  <div class="phone-number">
    {% if restaurant.phone? %}
      <a class="phone-number__link" href="tel:{{ restaurant.phone_uri }}">
        <i class="icon-phone"></i> <span class="phone-number__label">{{ restaurant.phone }}</span>
      </a>
    {% endif %}
  </div>
</div>

<div class="wrapper">
  <section class="opening-hours">
    <header class="section__header">
      <h2 class="section__title">{{ "Horaires" | t }}</h2>
    </header>
    <div class="section__main section__main--hours">
      <dl class="opening-days">
      {% for day in opening_hours %}
        <dt class="opening-day">
          {{ day.name }}
        </dt>
        <dd class="opening-shifts">
          {{ day.shifts }}
        </dd>
      {% endfor %}
      </dl>
    {% if restaurant.opening_hours_information? %}
      <div class="opening-hours__information">
        <p>{{ restaurant.opening_hours_information }}</p>
      </div>
    {% endif %}
    </div>
  </section>
</div>

{% if home_menus.size > 0 %}
  <section class="menus menus--featured">
    <header class="section__header">
      <h2 class="section__title">{% if current_locale == 'fr' %}{{ theme_settings.home_menus_featured_text_fr | t }}{% else %}{{ theme_settings.home_menus_featured_text_en | t }}{% endif %}</h2>
    </header>
    <div class="section__main">
      <ul class="block-grid">
        {% for menu in home_menus %}
            <li class="home-featured__image image-overlay {% if home_menus.size >= 2 %}home-featured-two{% endif %} {% if home_menus.size >= 3 %}home-featured-three{% endif %} {% if home_menus.size >= 4 %}home-featured-four{% endif %} {% if home_menus.size >= 6 %}home-featured-six{% endif %}" {% if menu.main_image? %} style="background-image:url('{{ menu.main_image | custom_image_url: "1500x400#" }}');background-size: cover;background-position: center center;" {% endif %}>
              <div class="{% if menu.main_image? %}overlay{% endif %}"></div>
              <div class="{% if menu.main_image? %}overlay__informations{% else %}home-featured__no-image-informations{% endif %}">
                {% if menu.parent? %}
                <p class="menu__title">{{ menu.name }}</p>
                <a class="button button-overlay" href="{{ menu.root_parent.url }}#menu-{{menu.id}}">
                  {{ "Voir le menu" | t }}
                </a>
              {% else %}
                <p class="menu__title">{{ menu.name }}</p>
                <a class="button button-overlay" href="{{ menu.url }}">
                  {{ "Voir le menu" | t }}
                </a>
              {% endif %}
              </div>
            </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
{% if home_foods.size > 0 %}
  <section class="foods foods--featured">
    <header class="section__header">
        <h2 class="section__title">{% if current_locale == 'fr' %}{{ theme_settings.home_foods_featured_text_fr | t }}{% else %}{{ theme_settings.home_foods_featured_text_en | t }}{% endif %}</h2>
    </header>
    <div class="section__main">
      <ul class="block-grid">
        {% for food in home_foods %}
          <li class="home-featured__image image-overlay {% if home_foods.size >= 2 %}home-featured-two{% endif %} {% if home_foods.size >= 3 %}home-featured-three{% endif %} {% if home_foods.size >= 4 %}home-featured-four{% endif %} {% if home_foods.size >= 6 %}home-featured-six{% endif %}" {% if food.main_image? %} style="background-image:url('{{ food.main_image | custom_image_url: "1500x400#" }}');background-size:cover;background-position: center center;" {% endif %}>
            <div class="{% if food.main_image? %}overlay{% endif %}"></div>
            <div class="{% if food.main_image? %}overlay__informations{% else %}home-featured__no-image-informations{% endif %}">
              {% assign relative_menu = food.menu %}
              <p class="food__title">{{ food.name }}</p>
              <a class="button button-overlay" href="{% if relative_menu.parent? %}{{ relative_menu.root_parent.url }}#menu-{{relative_menu.id}}{% else %}{{ relative_menu.url }}{% endif %}">
                {{ "Voir le plat" | t }}
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
<div class="clearer"></div>
<div class="see-all-button">
  <p>
    <a class="button" href="{{ restaurant.menus_path }}">
      {{ "Voir toute la carte" | t }}
    </a>
  </p>
</div>

{% if theme_settings.home_display_news %}
  {% if ten_latest_news.size > 0 %}
    <section class="news news--home wrapper">
      <main class="section__main news__body">
        <header class="section__header news__header">
          <a href="{{ localized_root_path }}/news" class="home-news-title__link">
            <div class="section__title">
              <h2>{{ "Actualités" | t }}</h2>
            </div>
          </a>
        </header>
        {% for news in ten_latest_news %}
          {% if forloop.index <= 5 %}
            <section class="news__one-news">
              <a href="{{ news.url }}" class="news__one-news-link">
                <div class="{% if news.image? %}news__one-news-content-wrapper{% else if %}news__one-news-content-wrapper news__one-news-content-wrapper--no-image{% endif %}">
                  <div class="news__one-news-content">
                    {% if news.title %}
                      <h5 class="news__one-news-title">{{ news.title }}</h5>
                    {% endif %}
                    {% if news.image? %}
                      <div class="news__one-news-image" style="background:url('{{ news.image | custom_image_url: '450x400#' }}');background-size:cover;"></div>
                    {% endif %}
                    {% if news.summary %}
                      <p class="news__one-news-summary">{{ news.summary }}</p>
                    {% endif %}
                  </div>
                </div>
              </a>
            </section>
            <hr class="news__separator {% if forloop.last %}news__separator--last{% endif %}">
            <div class="clearer"></div>
          {% endif %}
        {% endfor %}
      </main>
    </section>
  {% endif %}
{% endif %}

<section class="directions">
  <header class="section__header">
    <h2 class="section__title">{{ "Localisation" | t }}</h2>
  </header>
  <div class="section__main">
    {% if theme_settings.google_map_type != "" %}
      <div class="map">
        {% if theme_settings.google_map_type == "embed" %}
          {% google_map_embed: "size:100%x320" %}
        {% elsif theme_settings.google_map_type == "image" %}
          <a class="map__link" href="{% google_map_url %}">
            <img class="map__image" src="{% google_map_image_url: "size:640x320" %}" />
          </a>
        {% endif %}
        <div class="directions__overlay"></div>
        <footer class="directions__footer">
          <a class="button button-see-location" href="{% google_map_url %}">
            {{ "Voir l'itinéraire" | t }}
          </a>
        </footer>
      </div>
    </div>
    {% endif %}
    {% if restaurant.street_address? || restaurant.zip_code? || restaurant.city? %}
    <div class="address">
      <p>
        {% if restaurant.street_address? %}
          {{ restaurant.street_address }}
          <br />
        {% endif %}
        {% if restaurant.zip_code? %} {{ restaurant.zip_code }} {% endif %}
        {% if restaurant.city? %} <strong>{{ restaurant.city }}</strong> {% endif %}
      </p>
    </div>
    {% endif %}
  </div>
</section>