<section class="menus">
  {% for menu in menus %}
    <header class="section__header">
      <h2 class="section__title">
        <a class="menus__menu-link" href="{{ menu.url }}">{{ menu.name }}</a>
      </h2>
    </header>
    <div class="section__main">
      <ul class="menu-children">
        {% for child in menu.children %}
          <li class="menu-child">
            <a href="{{ menu.url }}#menu-{{child.id}}" class="menu-child__link">
              <div class="menu-child-image-wrapper">
                {% if child.main_image? %}
                  {{ child.main_image | custom_image_url: "300x300#" | image_tag: "class:menu-child__image" }}
                {% else %}
                  {{ 'fallback-image.gif' | asset_url | image_tag: 'alt:menus', 'class:menu-child__fallback-image', 'width:300' }}
                {% endif %}
                <div class="menu-child-image-overlay"></div>
              </div>
              <span class="menu-child__title">{{ child.name}}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <footer class="section__main menus__footer">
      <p>
        <a class="button" href="{{ menu.url }}">{{ "Voir les plats" | t }}</a>
      </p>
    </footer>
  {% endfor %}
</section>
